In [26]:
from uszipcode import SearchEngine, SimpleZipcode, Zipcode
search = SearchEngine(simple_zipcode=False)
res = search.by_state("New York", returns = 2000)
len(res)

1667

In [27]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
for i in res:
    df = df.append({'ZipCode': i.zipcode,'MedianIncome': i.median_household_income}, ignore_index=True)
df

      MedianIncome ZipCode
0          81671.0   10001
1          33218.0   10002
2          92540.0   10003
3         129313.0   10004
4         124670.0   10005
...            ...     ...
1662       28844.0   14901
1663       45000.0   14903
1664       36250.0   14904
1665       59159.0   14905
1666           NaN   14925

[1667 rows x 2 columns]

In [28]:
df.to_csv("ZipCodeIncome.csv")